@use "../themes/catppuccin-mocha.scss" as *;

$spacing-1: 0.125rem;
$spacing-2: 0.25rem;
$spacing-3: 0.5rem;
$spacing-4: 1rem;
$border-radius: 8px;

.menu-bar {
    font-family: "Jetbrains Mono", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: $text;

    background: rgba(
        $color: $base,
        $alpha: 0.9999999
    ); // HACK: Make it so that the black background that is normally drawn behind the gtk window (either by the compositor, gtk or both?) isn't.
    border-top: 1px solid #363a4f;
    padding: 0 $spacing-4;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.menu-bar > box {
    & > .logo {
        // TODO: Hover effect?
    }

    & > .notification-area {
        & > .date-time {
            .time {
                font-weight: 700;
            }
        }

        & > .indicators {
            & > .volume {
                color: $blue;
            }

            & > .mic-volume {
                color: $red;
            }

            & > .battery {
                color: $green;
            }

            & > .memory {
                color: $teal;
            }

            & > .gpu-temperature {
                color: $purple;
            }
        }

        & > .tray {
            & > .notification-button {
                color: $text;
            }
        }
    }
}
